node_modules
dist
dist-types
coverage
playwright-report
test-results

.agents

# moon
.moon/cache
.moon/docker

# ts
tsconfig.tsbuildinfo
packages/solid-formation/.tsbuild

# verify-tarball
verify-tarball/consumer.gen.ts

# vite
*.timestamp-*.mjs
*.timestamp_*.js
.astro
